@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap');
:root {
  /* --- colors of projects --- */
  --color-background: aliceblue;
  --color-darkBlue: #10151B;
  --color-purple: #602ADA;
  --color-lightPurple: rgba(96 , 42, 218, 0.10);
  --color-white: #EFEFEF;
  --color-lightWhite: rgba(239, 239, 239, 0.75);
  --color-pink: #CB2B6A;
  --color-lightBlue: #314EF2;
  /* ---measures--- */
  --border-radius: .4em;
}
body{
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  background: var(--color-background);
  width: 100vw;
  height: 100vh;
  /* overflow-y: hidden;   */
  font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
}
.back {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 2%;
  left: 2%;
  font-size: 2em;
}
.tittle {
  display: none;
  background-color: #7960CE;
}
.tittle-text {
  font-weight: 900;
}

/* Modal Success */
.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: #10151b9c;
  z-index: 10;
  backdrop-filter: blur(16px);
  top: -100%;
  transition: .5s;
}
.modal-active {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
  top: 0;
}
.modal-text {
  color: white;
  font-size: 1.9rem;
  text-align: center;
  padding: 0 2rem;
}
.modal-icon {
  cursor: pointer;
  width: 6rem;
  transition: .7s;
  color: #34ff2d;
}
.modal-icon:hover {
  transform: scale(1.05);
}

/* Init Social Sign */
.title-sign {
  font-weight: 900;
  text-align: center;
  /* margin-bottom: 1em; */
  background: radial-gradient(circle farthest-corner at 100% 100%, #602ada 0%, #cb2b6a 81%, #314ef2 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.container {
  background: var(--color-background);
  height: inherit;
  width: inherit;
  padding: 2em;
  color: var(--color-white);
}
.form-container {
  width: 100%; 
}

/* Init styles form */
.form-field {
  width: inherit;
  padding: .25em 0;
  margin-bottom: .1em;
}
.form-field label {
  display: block;
  margin-bottom: .1em;
  font-weight: 700;
  font-size: .75em;
  color: #333;
}
.privacity {
  display: flex;
}
.form-field-text {
  border: none;
  height: 2.4em;
  width: 100%;
  /* border-radius: var(--border-radius); */
  outline: none;
  font-weight: 400;
  padding-left: 1em;
}
/* ====== Description of all inputs ====== */
.message {
  position: relative;
}

.message::after{
  content: '';
  position: absolute;
  background: var(--color-pink);
  top: -3em;
  font-size: .8em;
  font-weight: 400;
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: var(--border-radius);
  box-shadow: 0 9px 20px -5px var(--color-pink);
  opacity: 0;
  transition: .7s;
}
.message:hover::after {
  opacity: 1;
} 
/* ===User Name=== */
.userName::after {
  content: 'Maximun 30 caracteres, sin caracteres especiales';
}
/* ===Last name=== */
.lastName::after {
  content: 'Maximun 15 caracteres, sin caracteres especiales';
}
/* ===Password=== */
.password::after {
  content: '1 una letra mayuscula, 1 número, y una longitud de 8 letras';
}
/* ===  politics  === */
.privacity .politics {
  font-weight: 200;
  font-size: .7em;
}

.submit-Button {
  display: flex;
  justify-content: center;
  align-items: center;    
  width: 100%;
  height: 3em;
  font-size: 1em;
  border-radius: var(--border-radius);
  border: none;
  color: var(--color-lightWhite);
  background: var(--color-lightPurple);
  margin-top: 1em;
}
.submit-Button.active {
  color: var(--color-white);
  background-color: var(--color-purple);
  /* background: radial-gradient(circle farthest-corner at 100% 100%, #602ada 0%, #cb2b6a 81%, #314ef2 100%); */
  box-shadow: 0 0 2em var(--color-purple);
  cursor: pointer;
}

.btn-sign {
  display: block;
  cursor: pointer;
  margin-top: 1em;
  text-align: center;
  font-size: .9em;
  text-decoration: underline;
  color: var(--color-purple);
}
.btn-sign:hover {
  opacity: .8;
}
/* ========= Responsive ========= */
@media (min-width: 600px) {
  body {
    justify-content: space-between;
    width: auto;
  }
  .tittle {
    height: inherit;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-size: 2em;
    flex-direction: column;
  }
  .tittle-text {
    display: inherit;
    font-size: 3em;
    margin: -1em;
    text-transform: uppercase;
  }
  .container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-container {
    width: 80%;
  }
}
@media (min-width: 1024px) {
 body {
  font-size: 18px; 
  height: 100vh;
  /* width: auto; */
  }
  .form-container {
    width: 50%;
    /* height: inherit; */
  }
}